---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="w-full mx-auto lg:w-[720px] py-44">
      <h1
        class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4 pb-4"
      >
        Hey, soy Luis Alberto
        <a
          href="https://www.linkedin.com/in/luis-alberto-jimenez-soto/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl text-gray-400 text-center mt-4">
        Un desarrollador web full stack, con alrededor de 5 años de experiencia.
        <a href="https://github.com/Lajs5257">Github</a>
      </h2>
    </section>
  </main>
</Layout>
