---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
	<section class="w-full mx-auto lg:w-[720px] py-44">
		<h1 class="text-white text-5xl font-bold flex justify-center flex-row">
			Hey, soy Luis Alberto 
			<div class="flex justify-center items-center gap-x-4 pb-4">
				<Badge>Disponible para trabajar</Badge>
			</div>
		</h1>
		<h2 class="text-xl text-gray-400 text-center mt-4">
			Un desarrollador web full stack.
			<a href="https://github.com/Lajs5257">Github</a>
		</h2>
	</section>
  </main>
</Layout>
