---
import Badge from "../components/Badge.astro";
import Github from "../components/icons/Github.astro";
import Gmail from "../components/icons/Gmail.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import SocialBadget from "../components/SocialBadget.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="w-full mx-auto lg:w-[720px] py-44">
      <h1
        class="text-white text-5xl font-bold flex justify-center flex-row gap-x-4 pb-4"
      >
        Hey, soy Luis Alberto
        <a
          href="https://www.linkedin.com/in/luis-alberto-jimenez-soto/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl text-gray-400 text-center mt-4">
        Desarrollador Fullstack con más de 4 años de experiencia creando soluciones digitales. Con experiencia en tecnologías como .NET, Flutter, SQL, Docker y Python. Apasionado por el aprendizaje constante y la mejora continua.
      </h2>
      <nav class="flex gap-x-4 justify-center mt-8">
          <SocialBadget href="https://www.linkedin.com/in/luis-alberto-jimenez-soto/">
            <LinkedIn class="w-6 h-6" />
            <span class="text-gray-800 dark:text-gray-200">LinkedIn</span>
          </SocialBadget>
          <SocialBadget href="https://github.com/Lajs5257">
            <Github class="w-6 h-6" />
            <span class="text-gray-800 dark:text-gray-200">GitHub</span>
          </SocialBadget>
          <SocialBadget href="mailto:lajs5257@gmail.com">
            <Gmail class="w-6 h-6" />
            <span class="text-gray-800 dark:text-gray-200">Gmail</span>
          </SocialBadget>
      </ul>
    </section>
  </main>
</Layout>
