<a
  class="rounded-full border border-gray-300 flex flex-row justify-center items-center px-4 py-2 bg-white dark:bg-gray-800 gap-x-2 hover:bg-gray-100 dark:hover:bg-gray-700 transition-colors"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
