---
import "../styles/global.css";
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Luis Alberto - Full Stack Developer</title>
  </head>
  <body>
	 <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
    <Header />
    <slot />
  </body>

  <style is:global>
    :root {
      color-scheme: light dark;
    }
    html {
      font-family: "Onest Variable", system-ui, sans-serif;
    }
    body {
      display: flex;
	  flex-direction: column;
      background: #050505;
      min-height: 100vh;
    }
  </style>
</html>
